{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas repudiandae maiores sunt, architecto optio quos deleniti vel ipsam corporis dolorem illum cum repellendus at veniam vitae libero ea voluptates unde!</p>
        <p style="color:red;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quod ipsa vero eligendi modi mollitia molestias ipsam ut illum cumque aliquam maiores, dolore adipisci tempora, odit ab! Eos, ducimus enim.</p>
    </body>
    
</html>
{% endblock %}